.widgets-section {
    padding: 20px;
}

.widgets-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 20px; /* Ajoute un espace uniforme entre les widgets */
}

.widget {
    background-color: #1d1d1d;
    color: #ffffff;
    border-radius: 10px;
    flex: 1; /* Permet à chaque widget de prendre une part égale de l'espace disponible */
    max-width: calc(33.33% - 14px); /* Limite la largeur maximale à environ un tiers, en tenant compte de l'espace entre les widgets */
    display: flex;
    flex-direction: column;
}

.widget-image {
    background-image: url("/asset/lesaviezvous.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px; /* Hauteur fixe pour l'image */
    border-radius: 10px 10px 0 0; /* Arrondit seulement les coins supérieurs */
}

.widget p {
    padding: 15px;
    font-weight: bold;
    margin: 0;
}

  
.fond {
    background-image: url("/asset/logo3.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
  
.links-section {
    background-image: url("/asset/links_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 500px;
}  