.instagram-link {
    text-decoration: none;
    margin: 1px;
}
.instagram-link div {
    display: flex;
    align-items: center;
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 40px;
    width: 500px;
    padding-left: 20px;
    font-size: large;
    color: #ffffff;
}

.instagram-link img {
    padding-right: 150px;
}
  